@use "./assets/styles/partials/variables" as *;
@use "./assets/styles/partials/fonts" as *;
@use "./assets/styles/partials/mixins" as *;
@use "./assets/styles/partials/breakpoints" as *;
@use "./assets/styles/partials/global" as *;

.app {
  min-height: 100vh;
  display: flex;
  position: relative;
}

.main-content {
  flex: 1;
  margin-left: 240px;
  transition: margin-left $transition-speed-slow ease;
  min-width: 0;

  .sidebar--collapsed ~ & {
    margin-left: 72px;
  }

  @include md {
    margin-left: 72px;
  }

  @include sm {
    margin-left: 0;
  }
}